
.formatos img{   
    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: 1000;
    width: 200px;
    height: 200px;
    border: 3px solid #73AD21;
    
}

#botonLogin{
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    background-color: #1A9100;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: -20;
}

.formatos h2 {
    position: absolute;
    top: 400px;
    right: 930;
    width: 269px;

}
.formatos h1{
    position: absolute;
    top: 80px;
    right: 510;
    width: 370px;

}

.contraseña {
    position: absolute;
    top: 320px;
    right: 320;
    width: 269px;
}


.caja {
    position: relative;
    width: 100%;
    width: 100%;
    height: 125px;
    padding-top: 0.5px;
    background: #1A9100;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    text-align:center;
    font-size: 50px;
    color: #FFFFFF;
}

.formatos form{ 
    position: absolute;
    top: 220px;
    right: 450;
    width: 269px;
    height: 100px;
}

.input_login{
    width: 420px;
    height: 37px;
    background: #FFFFFF;
    border: 3px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #C4C4C4
}