h1{
    font-family:"Times New Roman";
    color: rgb(20, 20, 22);
    font-size: 70px;
}
h2{
    font-family:"Arial";
    color: rgb(13, 14, 13);
    font-size: 50px;
}

h3{
    font-family:Helvetica;
    color: rgb(230, 68, 95);
    font-size: 40;
}

body{
    text-align: center;
    background-color: rgb(163, 223, 228);
    color: green;
    font-size: larger;
}

img{
    width: 500px; height: 400px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }