.grid{
    display: grid;
    grid-template-columns: 450px 90px; 
    grid-template-rows: 30px 50px; 
    row-gap:auto; 
    column-gap: 15px;
    justify-items: auto;
}

.button{
    border-radius: 90px;
  }

.h3 {font-size: 3em;} 

.colorFondo {
    background-color: #FEF5E7 ;
}

.titulo{
    height: 2em;
    display: flex;
    justify-content: center;
 }
  
.ubicacionPaginado{
    position: relative;
    justify-content: center;
}
  

